

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');



.flex{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
   
    
}
.head{
    /* margin-left:-280px; */
    margin-top: 260px;
    line-height: 45px;
    font-size: 35px;
   
}

.bg{   
    height: 730px;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
   
}
.btn2{
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 180px;
    margin: 8px;
    font-size: large;
    background-color: black;
    color: white;
   
}
.btn2:hover{
    background-color: rgb(78, 130, 78);
    color: rgb(15, 11, 11);
}
.background2{
    margin-top: -28px;
    background-color: rgb(78, 130, 78);
    height: 600px;
    width: auto;
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
}

.font {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.font2 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .appnav{
    padding: 13px;
  }
  .bgcolorr{
    background-color: rgb(216, 227, 230);
    height: 670px;

  }
  .text{
    text-decoration: none;
    color: black;
  }
 
 .box2{
   
    height: 400px;
    width: 500px;
    background-color: rgb(9, 10, 9);
    padding: 40px;
    background-color: beige;
    border-radius: 30px;
    padding-top: 70px;
      
     }
     .box3{
        height:550px;
        width: 700px;
        border: none;
        border-radius: 20px;    
        padding: 20px;
        padding-top: 40px;      
        background-color: beige;
       
     }
 .box{
    height: 500px;
    width: 550px;
    background-color: rgb(9, 10, 9);
    padding: 40px;
    background-color: beige;
    border-radius: 30px;

}